@import "../app.component.scss";

.container {
    width: 1140px;
    display: block;
    margin: auto;
    h1 {
        padding-top: 20px;
        font-family: $fonte-principal;
        font-size: $grande;
        color: $cor-principal;
    } 
    mat-grid-tile {
        mat-card {
            background-color: $branco;
            margin: 10px;
            box-shadow: $card-shadow;
            transition: $card-transition;
            &:hover {
                box-shadow: $card-shadow-hover;
            }
            img {
                width: 100%;
            }
            mat-card-content {
                h2 {
                    font-family: $fonte-principal;
                    font-size: $grande;
                    color: $cinza-escuro;
                    padding-top: 15px;
                }
                ul {
                    padding-top: 0px;
                    padding-left: 0px;
                    padding-bottom: 20px;
                    list-style-type: none;
                    li {
                        font-family: $fonte-secundaria;
                        color: $cinza-medio;
                        font-size: $media;
                        line-height: $grande;
                    }
                }
            }
            mat-card-actions {
                padding-bottom: 20px;
                button {
                    display: block;
                    width: 100%;
                    height: 48px;
                    cursor: pointer;
                    border: none;
                    border-radius: 4px;
                    background-color: $cor-secundaria;
                    color: $branco;
                    font-family: $fonte-secundaria;
                    font-size: $media;

                }
            }
        }
    }
}