<div class="container">
    <h1>Lista de imóveis:</h1>
    <mat-grid-list cols="3" rowHeight="3:5">
        <mat-grid-tile>
            <mat-card>
                <img mat-card-image src="../../assets/imagens/casa.jpg" alt="Foto da casa" />
                <mat-card-content>
                    <h2>Casa magnífica</h2>
                    <ul>
                        <li>Quartos: 04</li>
                        <li>Banheiros: 03</li>
                        <li>Metragem: 360 m²</li>
                        <li>Preço: R$ 890.000,00</li>
                    </ul>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>Mais detalhes</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card>
                <img mat-card-image src="../../assets/imagens/casa.jpg" alt="Foto da casa" />
                <mat-card-content>
                    <h2>Casa magnífica</h2>
                    <ul>
                        <li>Quartos: 04</li>
                        <li>Banheiros: 03</li>
                        <li>Metragem: 360 m²</li>
                        <li>Preço: R$ 890.000,00</li>
                    </ul>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>Mais detalhes</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card>
                <img mat-card-image src="../../assets/imagens/casa.jpg" alt="Foto da casa" />
                <mat-card-content>
                    <h2>Casa magnífica</h2>
                    <ul>
                        <li>Quartos: 04</li>
                        <li>Banheiros: 03</li>
                        <li>Metragem: 360 m²</li>
                        <li>Preço: R$ 890.000,00</li>
                    </ul>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>Mais detalhes</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
